* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

h1 {
    font-size: 32px;
    /* margin: 30px 50px; */
}

h2 {
    margin-top: 25px;
    background-color: rgb(66, 66, 66);
    border-radius: 25px;
    color: white;
    font-size: 24px;
}

/* Main sections */

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10% 25%;
}

.info {
    display: flex;
    flex-grow: 1;
    margin: 10px 25px;
    padding: 10px;
}

.info-timer {
    flex-grow: 0;
    text-align: left;
}

.info-scoreboard {
    text-align: right;
    flex-grow: 1;
}

.quiz {
    width: 100%;
    border-radius: 25px;
    background-color: silver;
    padding-bottom: 30px;
    padding: 25px 10px; 
}

.main-window {
    padding: 25px 50px; 
}

.quiz-question {
    padding: 30px 20px; 
}


a:hover {
    font-weight: bold;
    color: green;
}

/* multiple choice buttons */

ol {
    /* margin: 30px 50px; */
    /* margin: 0; */
    padding: 0;
}

li {
    border: 1px solid grey;
    background-color: white;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
}

li:hover {
    background-color: paleturquoise;
}

/* buttons */

button {   
    border: 1px solid grey;
    box-shadow: 10%;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

button:hover {
    background-color: paleturquoise;
}

/* input */

input {
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

/* result colors */
.correct {
    width: 100%;    
    text-align: center;
    color: green;
    margin: auto;
}

.incorrect {    
    width: 100%;
    text-align: center;
    color: red;
    margin: auto;
}
